$defaultColour:#343A40;

.bg-light{
    background-image: url(./pexels-bruno-massao-2873486.jpg);
}
.header{
    background-color: $defaultColour;
    color: aliceblue;
    border-radius: 5rem;
}
.nav-bg2{
    background-color: $defaultColour;
    border-radius: 5rem;
   
}
.navbar-brand2{
    color: aliceblue;  
}
.text-center{
    color: aliceblue;
}
.gif{
    width: 80px;    
    height: 80px;
    border-radius: 50%;
    text-align: center;
}